<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>606476715355-ibtn28ffk1vkehlriqk62kadfk7htuvi.apps.googleusercontent.com</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to find dogs near you.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iOS URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.606476715355-ibtn28ffk1vkehlriqk62kadfk7htuvi</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
